html {
	font-family: 'Open Sans', sans-serif;
	background-image: url(https://cdn.viagogo.net/img/cat/2/1/37.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

form {
	text-align: center;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	font-size: 36px;
}

h3 {
	padding-top: 10px;
	margin: 0px;
	text-align: center;
}

table {
	text-align: center;
}

ul {
	list-style-type: none;
}

.flag, .country-name, .latest-result {
	padding: 0 1.04166666%;
}

.roster, .history, .timeline {
	min-height: 500px;
	background-color: rgba(255, 255, 255, 0.5)
}

.flag {
	width: auto;
	text-align: center;
	vertical-align: center;
	padding-top: 0px;
	overflow: hidden;

}

.country img {
	flex: 1;
	width: 100%;
	max-height: 150px;
	margin: auto 0;
}

.country {
	display: flex;
	vertical-align: center;
	overflow: hidden;
	margin: 10px auto;
	min-height: 150px;
}

.country-name {
	margin: auto;
}

.inactive {
	display: none;
}

.latest-result {
	background-color: rgba(255, 255, 255, 0.5)

}

.latest-result ul {
	list-style-type: none;
	font-size: 12px;
	padding: 0px;
}

.left-group {
	float: left;
	padding-left: 200px;
}

.name {
	flex: 2;
	margin: auto 0;
}


.profile-container {
	max-width: 80%;
	background-color: rgba(255, 255, 255, 0.3)
}

.right-group {
	float: right;
	padding-right: 200px;
}

}
